<div class="grid_12">
<div id="wrapper">
    <div class="slider-wrapper theme-default">
        <div class="ribbon"></div>
        <div id="slider" class="nivoSlider">
            <img src="/assets/nivo/fachada.png" width="940" alt="" />
            <a href="http://dev7studios.com"><img src="/assets/nivo/fachada.png" alt="" title="Com caption" /></a>
            <img src="/assets/nivo/fachada.png" alt="" />
            <img src="/assets/nivo/fachada.png" alt="" title="#htmlcaption" />
        </div>
        <div id="htmlcaption" class="nivo-html-caption">
            Com <a href="#"> link</a>.
        </div>
    </div>
</div>
<br/>

<p>
	<h1>Últimas notícias</h1>
	<table class="posts">
		<% @posts.each do |post| %>
			<tr>
				<td><%= data_formatada(post.created_at) %></td>
				<td><%= link_to post.title, post %></td>
			</tr>
		<% end %>
	</table>
	<%= link_to 'Mais notícias', posts_path %>
</p>

</div>